@CHARSET "UTF-8";
.list-body li{ 
	border: #e5e5e5 solid 1px; 
	background-color: #fff;
}
.list-body li:hover{
	border: #11cd6e solid 1px;
	transition: all .3s;
	box-shadow: #11cd6e 0px 1px 5px;
}

.pub-time{
	color: #ccc;
    font-size: 12px;
    line-height: 20px;
}
	
