.fr{
	float: right;	
}
.fl{
	float: left;	
}
.middle_right{
	width: 600px;
	height: 250px;
}
.middle_right_shang{
	width: 600px;
	height: 50px;
	line-height: 50px;
}
.middle_right_xia{
	width: 600px;
	height: 200px;
	line-height: 200px;
}
.table{
	margin-top:10px;
	height: 220px;
	margin: 20px;
	margin-left: 40px;
}
td{
	font-size: 15px;
	height: 35px;
	line-height: 30px;
}
.mar{
	width: 140px;
	
}
#scode{
	margin-top:10px;
	margin-left:5px;
}
a:hover{
	text-decoration:underline;
	color: red;
}